/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* style */
body{
    font-size: 16px/28px arial, sans-serif;
    background-image: url(img/bg.png);
}
.container{
    width: 480px;
    background-color: rgb(225, 235, 233);
    margin: auto;
}
.header{
    padding: 20px;
}
.header .title1{
    font-size: 28px;
    font-weight: bold;
    color: teal;
    font-family: 'Big Shoulders Display', cursive;
    /* font-family: 'Squada One', cursive; */
    letter-spacing: 6.8px;
}
.header .title2{
    font-size: 48px;
    font-weight: bold;
    margin-top:-10px;
    color: teal;
    font-family: 'Squada One', cursive;
    letter-spacing: 6px;
}
.header ul li{
    display: inline-block;
    margin-top: 18px;
    margin-right: 8px;
}
.header a{
    text-decoration: none;
    color: rgb(27, 128, 48);
    padding: 8px;
    border-radius: 5px;
    
}
.header a:hover{
    background-color: rgb(7, 87, 23);
    color: white;
}
.hero {
    height: 230px;
    background-image: url(img/hero.JPG);
    background-size: cover;
    background-position:0 -60px;
    /* border-radius: 5px; */
    border-top: 5px rgb(236, 236, 236) solid ;
    border-bottom: 5px rgb(236, 236, 236) solid ;
}
.main{
    padding: 20px;
    font-size: 16px;
}
.main h2{
    font-size: 24px;
    font-weight: bold;
}
.main .author{
    font-size: 11px;
    margin-top: -1px;
}
.main p{
    margin-bottom: 15px;
}
.footer{
    background-color: teal;
    padding: 15px;
}

.footer .copy{
    text-align: center;
    color: whitesmoke;
    font-size: 10px;
}
